body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#app {
    width: 90%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

li:hover {
    background: #f0f0f0;
}

button {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#lyrics {
    max-height: 600px; /* define uma altura máxima */
    overflow-y: auto; /* torna a área rolável */
    padding-right: 10px; /* espaço para a barra de rolagem */
}
